PORT=5174
HEXCHANGE_APP_DIR=.hexchange
HEXCHANGE_ENGINE_MODE=simulated
HEXCHANGE_NAUTILUS_PYTHON=
HEXCHANGE_NAUTILUS_PROJECT_DIR=./engine/nautilus
HEXCHANGE_NAUTILUS_RUNS_DIR=./engine/nautilus/runs
IB_GATEWAY_HOST=
IB_GATEWAY_PORT=
IB_CLIENT_ID=
IB_ACCOUNT_ID=
KRAKEN_API_KEY=
KRAKEN_API_SECRET=
KRAKEN_ACCOUNT_TYPE=spot
